@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Lobster&family=Noto+Sans:wght@300&family=Open+Sans:wght@400;500;700&family=Pacifico&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto-Sans, sans-serif;
}

/* h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: lighter;
}

h5 {
  font-size: 14px;
  font-weight: lighter;
} */

p {
  color: #00181b;
}

li {
  list-style-type: none;
}
